<html>
<head>
    <title>To-Do App</title>
</head>
<body>
    <h1>Active To-Do's</h1>
    <ul>
        {% for todo in active_todos %}
        <li>
            <form action="{{ url_for('mark_done', id=todo.id) }}" method="POST">
                <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
                {{ todo.text }}
                <input type="submit" value="Mark Done">
            </form>
        </li>
        {% endfor %}
    </ul>

    <h1>Done To-Do's</h1>
    <ul>
        {% for todo in done_todos %}
        <li class="completed">{{ todo.text }}</li>
        {% endfor %}
    </ul>
</body>
</html>